* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat';
  font-family: 'Lato';
  font-family: 'Nunito';
  font-family: 'Oswald';
  font-weight: 300;
  color: #333;
}

h1 {
  font-weight: normal;
  margin: 20px auto;
  text-align: center;
}

form {
  width: 500px;
  margin: 20px auto;
}

label {
  font-size: 1.25em;
}

input {
  display: block;
  padding: 6px 16px;
  font-size: 1.25em;
  margin: 10px auto;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #ccc;
  height: 45px;

}

input:focus {
  border: 1px solid #ccc;
  outline: none;
}

::placeholder {
  color: rgb(185, 180, 180);
}

.valid {
  border: 2px solid #21bf73;
  outline: none;
}

.invalid:focus {
  border-color: #fd5e53
}

input+p {
  font-family: arial;
  font-size: 0.9em;
  font-weight: bold;
  text-align: center;
  margin: 0 10px;
  color: orange;
  opacity: 0;
  height: 0;
}

textarea+p {
  opacity: 0;
}

input.invalid+p {
  opacity: 1;
  height: auto;
  margin: 20px;
}

button {
  height: 50px;
  width: 150px;
  border-radius: 5px;
  outline: none;
  border: none;
  background: #444;
  color: white;
  cursor: pointer;
  font-size: 18px;
}

.submit-button {
  background: #21bf73;
}

textarea {
  width: 500px;
  height: 110px;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #ccc;
}

textarea:focus {
  outline: 1px solid #ccc;
}